{{ define "main" }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 py-5 mt-4">
            <div class="px-1">
                <h1 class="text-center">{{ .Title }}</h1>
                <!-- {{ with .Date }}
                <div class="text-center text-muted mt-3">
                    <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
                        {{ .Format "January 2, 2006" }}
                    </time>
                </div>
                {{ end }} -->
            </div>
            
            <div class="content mt-4">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}